<div class="accordion-item">
  <h2 class="accordion-header"
      id="heading{{ forloop.counter }}">
    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{ forloop.counter }}"
            aria-expanded="false"
            aria-controls="collapse{{ forloop.counter }}">

      {{ article.title }}

    </button>
  </h2>
  <div id="collapse{{ forloop.counter }}"
       class="accordion-collapse collapse"
       aria-labelledby="heading{{ forloop.counter }}"
       data-bs-parent="#article-wrapper">
    <div class="accordion-body">

      {{ article.text|slice:":1000" }}...

      <div class="row">
        <div class="col-9">
          <p class="mt-3"><a target="_blank" href="{{ article.url }}">Read full article</a></p>
        </div>

        <div class="col-1">
          <form action="/" method="post">
            {% csrf_token %}
            <button type="submit" name="like_article" value="{{ article.id }}"
                    class="btn {% if article.id in liked_articles %}btn-success{% endif %}">
              <img alt="like" width="50" height="40"
                   src="https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-line-1/32/-_Thumb-up-Like-Hand-Approve-512.png"/>
            </button>
          </form>
        </div>

        <div class="col-1">
          <form action="/" method="post">
            {% csrf_token %}
            <button type="submit" name="dislike_article" value="{{ article.id }}"
                    class="btn {% if article.id in disliked_articles %}btn-danger{% endif %}">
              <img alt="dislike" width="50" height="40"
                   src="https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-line-1/32/-_Thumb-Down-Dislike-Hand-512.png">
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
