<div class="accordion-item">
  <h2 class="accordion-header"
      id="heading{{ article.id }}">
    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{ article.id }}"
            aria-expanded="false"
            aria-controls="collapse{{ article.id }}">

      {{ article.title }}

    </button>
  </h2>
  <div id="collapse{{ article.id }}"
       class="accordion-collapse collapse"
       aria-labelledby="heading{{ article.id }}"
       data-bs-parent="#article-wrapper">
    <div class="accordion-body">

      {{ article.text }}

      <form action="/" method="post">
        {% csrf_token %}
        <br>
        <input type="image" name="like_article" value="{{ article.id }}" class="btn btn-primary" width=50 height="40" src="https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-line-1/32/-_Thumb-up-Like-Hand-Approve-512.png"></button>
      </form>

      <form action="/" method="post">
        {% csrf_token %}
        <input type="image" name="dislike_article" value="{{ article.id }}" class="btn btn-primary" width=50 height="40" src="https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-line-1/32/-_Thumb-Down-Dislike-Hand-512.png"></button>
      </form>

    </div>
  </div>
</div>
