{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-4" style="max-width: 760px;">

    <h1 class="fs-2 mb-0">News Recommender</h1>

    <form action="/" method="post">
      {% csrf_token %}
      {{ user_form.non_field_errors }}
      <div class="mb-3">
        {{ user_form.user.errors }}
        <label for="{{ user_form.user.id_for_label }}" class="col-form-label">Select user</label>
        {{ user_form.user }}
      </div>
    </form>

    <form action="/" method="get">
      {% csrf_token %}
      {{ search_form.non_field_errors }}
      <div class="mb-3">
        {{ search_form.query.errors }}
        {{ search_form.query }}
      </div>
    </form>

    <div class="accordion accordion-flush" id="article-wrapper">
      {% for article in articles %}
        {% include 'article.html' %}
      {% endfor %}
    </div>

  </div>
{% endblock %}
