{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-4" style="max-width: 760px;">

    <h2 class="mb-0">News Recommender</h2>

    {% include 'select_user.html' %}

    <br>
    <form method="get">
      <input type="text" class="mb-4" placeholder="Search..." name="searchquery">
    </form>

    <div class="accordion accordion-flush" id="article-wrapper">
      {% for article in articles %}
        {% include 'article.html' %}
      {% endfor %}
    </div>

  </div>
{% endblock %}
